extends layout/layout

block main
  main(role="main").main
    section.section.section-cover
      //- h2.section-cover-title JSDC 2015 Coming Soon
      .section-cover-logo
        a(href="http://2015.jsdc.tw/", target="_blank")
          img.left(src="/images/jsdc2015.png?tmp=20140617")
        img.right(src="/images/jsdc-2015.png?tmp=20140617")
      .section-cover-logo
        a(href="http://2014.jsdc.tw/", target="_blank")
          img.left(src="/images/activity.jpg?tmp=20140617")
        img.right(src="/images/jsdc-2014.png?tmp=20140617")

      .section-cover-logo
        img.left(src="/images/jsdc2013.png?tmp=20140617")
        img.right(src="/images/jsdc-2013.png?tmp=20140617")

      .section-cover-logo
        img.left(src="/images/jsdc2012.png?tmp=20140617")
        img.right(src="/images/jsdc-2012.png?tmp=20140617")
