extends layout/layout

block main
  main(role="main").main
    section.section.section-cover
      h2.section-cover-title JavaScript, Life Script - JavaScript Everywhere
      .section-cover-logo
        image(src="/images/activity.jpg?tmp=20140617")
        .log-link
          JSDC 2014
      .section-cover-logo
        image(src="/images/activity.jpg?tmp=20140617")
        .log-link
          JSDC 2013
      .section-cover-logo
        image(src="/images/activity.jpg?tmp=20140617")
        .log-link
          JSDC 2012
