@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Lato:700);

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #2c2f1e;
}

a {
  color: #56c7ed;
  text-decoration: none;
}

.container {
  position: relative;
  margin: 0 56px;
}

.sponsoring .img-link {
  text-align: center;
}

.sponsoring .section-cover {
  border-top: 1px solid #7c7c7c;
}

.wrapper {
  overflow-x: hidden;
}

.topbar {
  position: relative;
  z-index: 10;
  background: #f9f4f8;
  height: 86px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.topbar a {
  color: #4c474b;
  text-decoration: none;
}

.topbar .container {
  height: 86px;
}

.topbar-sitename {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 170px;
  height: 86px;
  background: url(./images/logo.png) center no-repeat;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.topbar-sitename a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.topbar-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 59px;
  white-space: nowrap;
  text-align: right;
  line-height: 59px;
  font-weight: 300;
}

.topbar-menu {
  margin: 0;
  list-style: none;
}

.topbar-menu-item {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 44px;
}

.section {
  position: relative;
  min-height: 706px;
}

.section-cover {
  z-index: 1;
  text-align: center;
  min-height: 500px;
}

.section-cover-logo {
  margin: 25px auto;
  width: 680px;
  height: 250px;
  border-top: 1px solid #ddd;
}

.section-cover-logo > img {
  display: block;
  float: left;
  width: 75%;
}



.section-cover-title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 300;
}

.topbar-menu-toggle-btn {
  display: none;
}

@media screen and (max-width: 848px) {
  .container {
    margin: 0 24px;
  }

  .topbar-nav {
    height: auto;
    top: 86px;
    bottom: inherit;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }

  .topbar-menu-item {
    display: block;
    margin: 12px 0;
    height: 59px;
  }

  .topbar-menu-item a {
    float: right;
    padding: 0 24px;
    background: #f9f4f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }

  .topbar-menu-toggle-btn {
    display: block;
    position: absolute;
    z-index: 10;
    right: 24px;
    top: 50%;
    margin-top: -13px;
    width: 32px;
    height: 26px;
    background-image: linear-gradient(rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 20%, transparent 20%, transparent 40%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .2) 60%, transparent 60%, transparent 80%, rgba(0, 0, 0, .2) 80%);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }

 .section-cover-title {
   left: 0;
   margin-left: 0;
   font-size: 2.4rem;
   width: 100%;
   padding-left: 24px;
   padding-right: 24px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

}
